# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List Enviornments commonly used for Data Science

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. JavaScript
5. Scala
6. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. ggplot
3. pandas
4. Scipy

|Data Science Tools|
--------------------
|R studio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ryan